@import url('https://fonts.googleapis.com/css?family=Muli');

body[mdtimepicker-display='on'] { overflow: hidden; }

.atp-container {
	position: absolute;
	display: flex;
    width: 350px;
    height: 220px;
    font-family: Muli, sans-serif;
	user-select: none;
	border-radius: 2px;
	transform: translateX(-50%) scale(1);
	box-shadow: 0 10px 20px 0 rgba(0, 0 , 0, 0.05);
	transition: transform .28s ease, opacity .28s ease;
	overflow: hidden;
    border-radius: 10px;
}

.atp-container.animate {
    transform: translateX(-50%) scale(1.05);
    display: none;
}
.atp-time-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	color: rgba(255,255,255,.5);
	text-align: center;
	background-color: #00449D;
    width:120px;
}
.atp-time-container > span {
    display: inline-block;
    cursor: default;
}
.atp-container > span:not(.atp-time-dots):not(.atp-time-meridiem) {
    cursor: pointer;
    margin: 0 4px;
}

.atp-time-container .atp-time-hour.active, .atp-time-container .atp-time-minute.active { color: #fafafa; }
.atp-time-container .atp-time-hour, .atp-time-container .atp-time-minute { cursor: pointer; }
.atp-time-container .atp-time-meridiem {
    font-size: 16px;
    padding-left: 5px;
    padding-top: 10px;
}
.atp-clock-container {
	position: relative;
	padding: 10px;
    padding-left: 20px;
	background-color: #fff;
}
.atp-clock-container .atp-clock {
	position: relative;
	width: 190px;
	height: 190px;
	margin-bottom: 20px;
	border-radius: 50%;
	background-color: #eee;
}
.atp-clock .atp-am, .atp-clock .atp-pm {
	display: block;
	position: absolute;
	bottom: -8px;
	width: 25px;
	height: 25px;
    font-size: 12px;
    line-height: 25px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,.1);
	background: rgba(0,0,0,.05);
	transition: background-color .2s ease, color .2s;
	z-index: 3;
}

.atp-clock .atp-am { left: -8px; }
.atp-clock .atp-pm { right: -8px; }
.atp-clock .atp-am, .atp-clock .atp-pm:hover { background-color: rgba(0,0,0,.1); }
.atp-clock .atp-am.active, .atp-clock .atp-pm.active {
    color: #fafafa;
    background-color: #00449D;
}
.atp-clock .atp-clock-dot {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 4px;
	background-color: #00449D;
	border-radius: 50%;
}

.atp-clock .atp-hour-container,
.atp-clock .atp-minute-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: scale(1);
	transition: transform .35s cubic-bezier(0.4, 0.0, 0.2, 1), opacity .35s ease;
	overflow: hidden;
}
.atp-clock .atp-hour-container.animate {
    transform: scale(1.2);
    opacity: 0;
}
.atp-clock .atp-minute-container.animate {
    transform: scale(.8);
    opacity: 0;
}
.atp-clock .atp-hour-container.hidden, .atp-clock .atp-minute-container.hidden { display: none; }
.atp-clock .atp-digit {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 0;
	margin-top: -16px;
	transform-origin: right center;
	z-index: 1;
}
.atp-clock .atp-digit span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-left: 8px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .28s, color .14s;
}
.atp-digit.active span,
.atp-clock .atp-digit span:hover {
    background-color: #00449D !important;
    color: #fff;
    z-index: 2;
}

.atp-digit.active:before {
	content: '';
	display: block;
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	height: 2px;
	width: calc(100% - 40px);
	background-color: #00449D;
}

.atp-clock .atp-minute-container .atp-digit { font-size: 13px; }
.atp-clock .atp-minute-container .atp-digit:not(.marker) {
	margin-top: -6px;
	height: 12px;
}
	.atp-clock .atp-minute-container .atp-digit:not(.marker).active:before { width: calc(100% - 26px); }
	.atp-clock .atp-minute-container .atp-digit:not(.marker) span {
		width: 12px;
		height: 12px;
		line-height: 12px;
		margin-left: 14px;
	}
.atp-clock .atp-minute-container .atp-digit.marker { margin-top: -12px; }
	.atp-clock .atp-minute-container .atp-digit.marker.active:before { width: calc(100% - 34px); }
	.atp-clock .atp-minute-container .atp-digit.marker span {
		width: 24px;
		height: 24px;
		line-height: 24px;
		margin-left: 10px;
	}
.atp-digit.rotate-6 { transform: rotate(6deg); } .atp-digit.rotate-6 span { transform: rotate(-6deg); }
.atp-digit.rotate-12 { transform: rotate(12deg); } .atp-digit.rotate-12 span { transform: rotate(-12deg); }
.atp-digit.rotate-18 { transform: rotate(18deg); } .atp-digit.rotate-18 span { transform: rotate(-18deg); }
.atp-digit.rotate-24 { transform: rotate(24deg); } .atp-digit.rotate-24 span { transform: rotate(-24deg); }
.atp-digit.rotate-30 { transform: rotate(30deg); } .atp-digit.rotate-30 span { transform: rotate(-30deg); }
.atp-digit.rotate-36 { transform: rotate(36deg); } .atp-digit.rotate-36 span { transform: rotate(-36deg); }
.atp-digit.rotate-42 { transform: rotate(42deg); } .atp-digit.rotate-42 span { transform: rotate(-42deg); }
.atp-digit.rotate-48 { transform: rotate(48deg); } .atp-digit.rotate-48 span { transform: rotate(-48deg); }
.atp-digit.rotate-54 { transform: rotate(54deg); } .atp-digit.rotate-54 span { transform: rotate(-54deg); }
.atp-digit.rotate-60 { transform: rotate(60deg); } .atp-digit.rotate-60 span { transform: rotate(-60deg); }
.atp-digit.rotate-66 { transform: rotate(66deg); } .atp-digit.rotate-66 span { transform: rotate(-66deg); }
.atp-digit.rotate-72 { transform: rotate(72deg); } .atp-digit.rotate-72 span { transform: rotate(-72deg); }
.atp-digit.rotate-78 { transform: rotate(78deg); } .atp-digit.rotate-78 span { transform: rotate(-78deg); }
.atp-digit.rotate-84 { transform: rotate(84deg); } .atp-digit.rotate-84 span { transform: rotate(-84deg); }
.atp-digit.rotate-90 { transform: rotate(90deg); } .atp-digit.rotate-90 span { transform: rotate(-90deg); }
.atp-digit.rotate-96 { transform: rotate(96deg); } .atp-digit.rotate-96 span { transform: rotate(-96deg); }
.atp-digit.rotate-102 { transform: rotate(102deg); } .atp-digit.rotate-102 span { transform: rotate(-102deg); }
.atp-digit.rotate-108 { transform: rotate(108deg); } .atp-digit.rotate-108 span { transform: rotate(-108deg); }
.atp-digit.rotate-114 { transform: rotate(114deg); } .atp-digit.rotate-114 span { transform: rotate(-114deg); }
.atp-digit.rotate-120 { transform: rotate(120deg); } .atp-digit.rotate-120 span { transform: rotate(-120deg); }
.atp-digit.rotate-126 { transform: rotate(126deg); } .atp-digit.rotate-126 span { transform: rotate(-126deg); }
.atp-digit.rotate-132 { transform: rotate(132deg); } .atp-digit.rotate-132 span { transform: rotate(-132deg); }
.atp-digit.rotate-138 { transform: rotate(138deg); } .atp-digit.rotate-138 span { transform: rotate(-138deg); }
.atp-digit.rotate-144 { transform: rotate(144deg); } .atp-digit.rotate-144 span { transform: rotate(-144deg); }
.atp-digit.rotate-150 { transform: rotate(150deg); } .atp-digit.rotate-150 span { transform: rotate(-150deg); }
.atp-digit.rotate-156 { transform: rotate(156deg); } .atp-digit.rotate-156 span { transform: rotate(-156deg); }
.atp-digit.rotate-162 { transform: rotate(162deg); } .atp-digit.rotate-162 span { transform: rotate(-162deg); }
.atp-digit.rotate-168 { transform: rotate(168deg); } .atp-digit.rotate-168 span { transform: rotate(-168deg); }
.atp-digit.rotate-174 { transform: rotate(174deg); } .atp-digit.rotate-174 span { transform: rotate(-174deg); }
.atp-digit.rotate-180 { transform: rotate(180deg); } .atp-digit.rotate-180 span { transform: rotate(-180deg); }
.atp-digit.rotate-186 { transform: rotate(186deg); } .atp-digit.rotate-186 span { transform: rotate(-186deg); }
.atp-digit.rotate-192 { transform: rotate(192deg); } .atp-digit.rotate-192 span { transform: rotate(-192deg); }
.atp-digit.rotate-198 { transform: rotate(198deg); } .atp-digit.rotate-198 span { transform: rotate(-198deg); }
.atp-digit.rotate-204 { transform: rotate(204deg); } .atp-digit.rotate-204 span { transform: rotate(-204deg); }
.atp-digit.rotate-210 { transform: rotate(210deg); } .atp-digit.rotate-210 span { transform: rotate(-210deg); }
.atp-digit.rotate-216 { transform: rotate(216deg); } .atp-digit.rotate-216 span { transform: rotate(-216deg); }
.atp-digit.rotate-222 { transform: rotate(222deg); } .atp-digit.rotate-222 span { transform: rotate(-222deg); }
.atp-digit.rotate-228 { transform: rotate(228deg); } .atp-digit.rotate-228 span { transform: rotate(-228deg); }
.atp-digit.rotate-234 { transform: rotate(234deg); } .atp-digit.rotate-234 span { transform: rotate(-234deg); }
.atp-digit.rotate-240 { transform: rotate(240deg); } .atp-digit.rotate-240 span { transform: rotate(-240deg); }
.atp-digit.rotate-246 { transform: rotate(246deg); } .atp-digit.rotate-246 span { transform: rotate(-246deg); }
.atp-digit.rotate-252 { transform: rotate(252deg); } .atp-digit.rotate-252 span { transform: rotate(-252deg); }
.atp-digit.rotate-258 { transform: rotate(258deg); } .atp-digit.rotate-258 span { transform: rotate(-258deg); }
.atp-digit.rotate-264 { transform: rotate(264deg); } .atp-digit.rotate-264 span { transform: rotate(-264deg); }
.atp-digit.rotate-270 { transform: rotate(270deg); } .atp-digit.rotate-270 span { transform: rotate(-270deg); }
.atp-digit.rotate-276 { transform: rotate(276deg); } .atp-digit.rotate-276 span { transform: rotate(-276deg); }
.atp-digit.rotate-282 { transform: rotate(282deg); } .atp-digit.rotate-282 span { transform: rotate(-282deg); }
.atp-digit.rotate-288 { transform: rotate(288deg); } .atp-digit.rotate-288 span { transform: rotate(-288deg); }
.atp-digit.rotate-294 { transform: rotate(294deg); } .atp-digit.rotate-294 span { transform: rotate(-294deg); }
.atp-digit.rotate-300 { transform: rotate(300deg); } .atp-digit.rotate-300 span { transform: rotate(-300deg); }
.atp-digit.rotate-306 { transform: rotate(306deg); } .atp-digit.rotate-306 span { transform: rotate(-306deg); }
.atp-digit.rotate-312 { transform: rotate(312deg); } .atp-digit.rotate-312 span { transform: rotate(-312deg); }
.atp-digit.rotate-318 { transform: rotate(318deg); } .atp-digit.rotate-318 span { transform: rotate(-318deg); }
.atp-digit.rotate-324 { transform: rotate(324deg); } .atp-digit.rotate-324 span { transform: rotate(-324deg); }
.atp-digit.rotate-330 { transform: rotate(330deg); } .atp-digit.rotate-330 span { transform: rotate(-330deg); }
.atp-digit.rotate-336 { transform: rotate(336deg); } .atp-digit.rotate-336 span { transform: rotate(-336deg); }
.atp-digit.rotate-342 { transform: rotate(342deg); } .atp-digit.rotate-342 span { transform: rotate(-342deg); }
.atp-digit.rotate-348 { transform: rotate(348deg); } .atp-digit.rotate-348 span { transform: rotate(-348deg); }
.atp-digit.rotate-354 { transform: rotate(354deg); } .atp-digit.rotate-354 span { transform: rotate(-354deg); }
.atp-digit.rotate-360 { transform: rotate(360deg); } .atp-digit.rotate-360 span { transform: rotate(-360deg); }

@media screen and (max-width: 800px) {
	.atp-container {
		flex-direction: column;
		height: 300px;s
    	width: 230px;
		margin-left: -60px;
	}

	.atp-time-container {
		width: 100%;
		height: 100px;
	}
}
